.groupContainer{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.groupTitle{
  margin-left: .5rem;
  position: relative;
}

.groupTitle::before{
  position: absolute;
  content: "";
  width: 4px;
  height: 15px;
  background-color: #27AE60;
  left: -5px;
  top: 6px;
}

.tableContainer{
  width: 650px;
  height: 50px;
  border: 2px solid #27AE60;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 4px darkgray;
}

.headerContainer{
  font-weight: bold;
  color: rgba(0, 0, 0, .7);
}

.tableLineHeader{
  border: none;
  border-bottom: 2px solid darkgray;
  
}

.tableCollumItem{
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.lineItem{
  transition: .2s;
}

.lineItem:hover{
  background: rgba(39, 174, 96, .1);
  cursor: default;
}


.headerContainer > td{
  padding-left: 3px;
}

.teamPicture{
  width: 30px;
}

.teamNameAndPictureContainer{
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding-left: 5px;
}

@media (max-width: 750px){
  .tableContainer{
    width: 350px;
  }
  .tableContainer h3{
    font-size: 1rem;
  }
  .tableContainer td{
    font-size: .8rem;
  }
  .teamPicture{
    width: 25px;
  }
}

@media (max-width: 450px){
  .tableContainer{
    width: 300px;
  }
  .tableContainer h3{
    font-size: .9rem;
  }
  .tableContainer td{
    font-size: .7rem;
  }
  .teamPicture{
    width: 22px;
  }
  .groupTitle::before{
    height: 11px;
    width: 3px;
  }
}