.header {
  background: rgba(39, 174, 96, 0.67);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
}

.btnMobile{
  display: none;
  width: 20px;
  color: white;
  background: none;
  border: transparent;
  border-top: 3px solid;
}

.btnMobile::after, .btnMobile::before{
  content: '';
  width: 20px;
  height: 3px;
  background-color: currentColor;
  display: block;
  margin-top: 5px;
  transition: .3s;
  position: relative;
}


.headerContainer{
  display: flex;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

.title{
  font-weight: bolder;
  color: white;
}

.menu{
  display: flex;
}

.menu a{
  color: white;
  border-bottom: 2px solid transparent;
  transition: .3s;
  margin: 0 .2rem;
  padding: 0 .2rem;
}

.menu a:hover{
  border-bottom: 2px solid #ABEBC6;
}


.menuItemDisabled{
  color: lightgray !important;
  pointer-events: none;
  cursor: not-allowed;
}


.menuMobile{
  background: rgba(39, 174, 96, 0.67);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);

  position: absolute;
  right: 10px;
  top: 65px;
  padding: .7rem .5rem;
  animation: animaMobileButotn .3s forwards;
  overflow: hidden;
  border-radius: 0  0  10px 10px;
}

@keyframes animaMobileButotn {
  from{
    height: 0;
    opacity: 0;
  }
  to{
    height: 140px;
    opacity: initial;
  }
}

.menuMobile li{
  margin: .4rem 0;
}

.menuMobileItem{
  color: white;
  padding: .4rem .2rem;
}

.menuMobileItemDisabled{
  color: lightgray;
  padding: .4rem .2rem;
}

@media (max-width: 750px){
  .menu{
    display: none;
  }
  .btnMobile{
    display: block;
  }
}